<div>
  <h2 mat-dialog-title>{{ estadoFormulario }} Activo</h2>
</div>
<mat-dialog-content>
  <form [formGroup]="activoForm">
    <div class="activo-container">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Artículo</mat-label>
          <mat-select formControlName="articulo">
            <mat-option *ngFor="let cat of articulos" [value]="cat.id">
              {{ cat.nombrearticulo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo de bien</mat-label>
          <mat-select formControlName="tipo">
            <mat-option *ngFor="let cat of tipos" [value]="cat.id">
              {{ cat.nombretipo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Cod. Inventario" formControlName="codinventario" required (input)="convertirAMayusculas($event)">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Marca" formControlName="marca" required (input)="convertirAMayusculas($event)">
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha Compra" formControlName="fechaingreso" required (input)="convertirAMayusculas($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Proveedor</mat-label>
          <mat-select formControlName="proveedor">
            <mat-option *ngFor="let cat of proveedores" [value]="cat.id">
              {{ cat.razonsocial }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="column">
        <mat-form-field>
          <mat-label>Responsable</mat-label>
          <mat-select formControlName="responsable">
            <mat-option *ngFor="let cat of responsables" [value]="cat.id">
              {{ cat.arearesponsable }}
            </mat-option>
          </mat-select>
        </mat-form-field>        
        <mat-form-field appearance="fill">
          <mat-label>Grupo</mat-label>
          <mat-select formControlName="grupo">
            <mat-option *ngFor="let cat of grupos" [value]="cat.id">
              {{ cat.nombregrupo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Modelo" formControlName="modelo" required (input)="convertirAMayusculas($event)">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Nro. Serie" formControlName="nroserie" required (input)="convertirAMayusculas($event)">
        </mat-form-field>
        <div class="importe-moneda-container">
          <mat-form-field class="moneda-select-field">
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="moneda" class="moneda-select">
              <mat-option value="S/">S/</mat-option>
              <mat-option value="$">$</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="importe-input-field">
            <input matInput type="text" formControlName="importe" placeholder="Importe" required (input)="convertirAMayusculas($event)" appCurrencyFormat>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <mat-tab-group>
    <mat-tab label="Especificaciones Técnicas">
      <h2 mat-dialog-title>{{ estadoFormulario }} de Especificos</h2>
      <mat-dialog-content>
        <form [formGroup]="especificoForm">
          <div class="especifico-container">
            <div class="column">
              <!-- Campos comunes que ya están en el formulario principal se eliminan aquí -->
              <!-- <mat-form-field>
                <mat-label>Responsable</mat-label>
                <mat-select formControlName="responsableid">
                  <mat-option *ngFor="let responsable of responsables" [value]="responsable.id">
                    {{ responsable.arearesponsable }}
                  </mat-option>
                </mat-select>
              </mat-form-field>           
              <mat-form-field>
                <mat-label>Tipo de bien</mat-label>
                <mat-select formControlName="tipoid">
                  <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">
                    {{ tipo.nombretipo }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
            </div>
            <div class="column">
              <!-- Otros campos comunes eliminados -->
              <!-- <mat-form-field>
                <mat-label>Artículo</mat-label>
                <mat-select formControlName="articuloid">
                  <mat-option *ngFor="let articulo of articulos" [value]="articulo.id">
                    {{ articulo.nombrearticulo }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Grupo</mat-label>
                <mat-select formControlName="grupoid">
                  <mat-option *ngFor="let grupo of grupos" [value]="grupo.id">
                    {{ grupo.nombregrupo }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
            </div>
          </div>
          <div class="especifico-container">
            <div formArrayName="especificos">
              <div *ngFor="let especifico of especificosArray.controls; let i = index" [formGroupName]="i">
                <mat-form-field>
                  <input matInput id="nombreespecifico" formControlName="nombreespecifico" placeholder="Especifico {{ i + 1 }}" required (input)="convertirAMayusculas($event)">
                </mat-form-field>
                <button mat-raised-button color="warn" (click)="removeEspecifico(i)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </form>
        <button mat-raised-button color="primary" (click)="addEspecifico()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button color="primary" (click)="onSave()" [disabled]="especificoForm.invalid || especificosArray.length === 0">
          <mat-icon>save</mat-icon> Guardar
        </button>
        <button mat-button color="primary" (click)="onCancel()">
          <mat-icon>cancel</mat-icon> Cancelar
        </button>
        <!--button type="button" (click)="getJsonValue()">Mostrar JSON</button-->
      </mat-dialog-actions>      
    </mat-tab>

    <mat-tab label="Descripción General">
      <div class="tab-content">
        <mat-form-field>
          <textarea matInput placeholder="Descripción" formControlName="descripgrupo"required (input)="convertirAMayusculas($event)">
          </textarea>
      </mat-form-field>
      </div>
    </mat-tab>

  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" (click)="onSave()" >
    <mat-icon>save</mat-icon> Guardar
  </button>
  <button mat-button color="primary" (click)="onCancel()">
    <mat-icon>cancel</mat-icon> Cancelar
  </button>
</mat-dialog-actions>
