<h2 mat-dialog-title>{{ estadoFormulario }} Activo</h2>
<mat-dialog-content>
  <div *ngIf="idAlfanumerico" class="custom-label">
    <h2>{{ idAlfanumerico }}</h2>
  </div>
  <form [formGroup]="activoForm">
    <div class="activo-container">
      <div class="column">
        <mat-form-field>
          <mat-label>Responsable</mat-label>
          <mat-select formControlName="responsable">
            <mat-option *ngFor="let cat of responsables" [value]="cat.id">
              {{ cat.arearesponsable }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo de bien</mat-label>
          <mat-select formControlName="tipo">
            <mat-option *ngFor="let cat of tipos" [value]="cat.id">
              {{ cat.nombretipo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Cod. Inventario" formControlName="codinventario" required (input)="convertirAMayusculas($event)">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Marca" formControlName="marca" required (input)="convertirAMayusculas($event)">
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha Compra" formControlName="fechaingreso" required (input)="convertirAMayusculas($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Proveedor</mat-label>
          <mat-select formControlName="proveedor">
            <mat-option *ngFor="let cat of proveedores" [value]="cat.id">
              {{ cat.razonsocial }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Artículo</mat-label>
          <mat-select formControlName="articulo">
            <mat-option *ngFor="let cat of articulos" [value]="cat.id">
              {{ cat.nombrearticulo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Grupo</mat-label>
          <mat-select formControlName="grupo">
            <mat-option *ngFor="let cat of grupos" [value]="cat.id">
              {{ cat.nombregrupo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Modelo" formControlName="modelo" required (input)="convertirAMayusculas($event)">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Nro. Serie" formControlName="nroserie" required (input)="convertirAMayusculas($event)">
        </mat-form-field>
        <div class="importe-moneda-container">
          <mat-form-field class="moneda-select-field">
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="moneda" class="moneda-select">
              <mat-option value="S/">S/</mat-option>
              <mat-option value="$">$</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="importe-input-field">
            <input matInput type="text" formControlName="importe" placeholder="Importe" required (input)="convertirAMayusculas($event)" appCurrencyFormat>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <!--mat-tab-group>
    <mat-tab label="Descripción General">
      <div class="tab-content">
        <mat-form-field>
          <textarea matInput placeholder="Descripción" formControlName="descripgrupo"required (input)="convertirAMayusculas($event)">
          </textarea>
      </mat-form-field>
      </div>
    </mat-tab>

    <mat-tab label="Especificaciones Técnicas">
      <form [formGroup]="atributoForm">
        <div>
          <label for="dependenciaid">dependenciaid:</label>
          <input type="text" id="dependenciaid" formControlName="dependenciaid" />
        </div>
      
        <div>
          <label for="articuloid">articuloid:</label>
          <input type="text" id="articuloid" formControlName="articuloid" />
        </div>
    
        <div formArrayName="atributos">
          <div *ngFor="let atributoGroup of atributosArray.controls; let i = index" [formGroupName]="i">
            <h2>Address {{ i + 1 }}</h2>
            <div>
              <label for="atributoid">atributoid:</label>
              <input type="text" id="atributoid" formControlName="atributoid" />
            </div>
            <div>
              <label for="nombreatributo">nombre:</label>
              <input type="text" id="nombreatributo" formControlName="nombreatributo" />
            </div>
            <div class="horizontal-container">
              <mat-form-field>
                <mat-label>Atributo</mat-label>
                <mat-select formControlName="articuloid">
                  <mat-option *ngFor="let cat of articulos" [value]="cat.id">
                    {{ cat.nombrearticulo }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput id="nombreatributo" type="text" placeholder="Atributo {{ i + 1 }}" formControlName="nombreatributo" required (input)="convertirAMayusculas($event)" />
              </mat-form-field>
              <button mat-raised-button color="warn" (click)="removeAtributo(i)">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
            
  
            <div class="descripatributo">
              <label for="descripatributo">Descripción:</label>
              <input type="text" id="descripatributo" formControlName="descripatributo" />
              <mat-form-field>
                <input matInput id="descripatributo" type="text" placeholder="Atributo {{ i + 1 }}"
                 formControlName="descripatributo" required (input)="convertirAMayusculas($event)" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="addAtributo()">
          <mat-icon>add</mat-icon>
        </button>
      </form>      
      <form [formGroup]="atributoForm">
        <div class="atributo-container">
          <mat-form-field>
            <mat-label>Responsable</mat-label>
            <mat-select formControlName="responsableid">
              <mat-option *ngFor="let cat of responsables" [value]="cat.id">
                {{ cat.arearesponsable }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Artículo</mat-label>
            <mat-select formControlName="articuloid">
              <mat-option *ngFor="let cat of articulos" [value]="cat.id">
                {{ cat.nombrearticulo }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div formArrayName="atributos">
            <div *ngFor="let atributoGroup of atributosArray.controls; let i = index" [formGroupName]="i" class="atributo-group">
              <mat-form-field>
                <input matInput id="nombreatributo" type="text" placeholder="Atributo {{ i + 1 }}" formControlName="nombreatributo" required (input)="convertirAMayusculas($event)" />
              </mat-form-field>
              <button mat-raised-button color="warn" (click)="removeAtributo(i)">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </form>
      <button mat-raised-button color="primary" (click)="addAtributo()">
        <mat-icon>add</mat-icon>
      </button>      
    </mat-tab>
  </mat-tab-group-->
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" (click)="onSave()" [disabled]="activoForm.invalid">
    <mat-icon>save</mat-icon> Guardar
  </button>
  <button mat-button color="primary" (click)="onCancel()">
    <mat-icon>cancel</mat-icon> Cancelar
  </button>
</mat-dialog-actions>
