<h2 mat-dialog-title> {{ estadoFormulario }} Nuevo Proveedor </h2>
<mat-dialog-content>

    <form [formGroup]="proveedorForm">
        <div class="proveedor-container">

            <mat-form-field>
                <input matInput placeholder="Nombre" formControlName="nombreproveedor" required/>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Descripción" formControlName="descripproveedor" required></textarea>
            </mat-form-field>

        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions>

    <button mat-button color="primary" (click)="onSave()" [disabled]="proveedorForm.invalid">
        <mat-icon>save</mat-icon> Guardar
    </button>

    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>

</mat-dialog-actions>
