<h2 mat-dialog-title>{{ estadoFormulario }} Activos</h2>
<mat-dialog-content>
  <form [formGroup]="especificoForm">
    <div class="especifico-container">
      <div class="column">
        <!--mat-form-field>
          <mat-label>Articulo</mat-label>
          <mat-select formControlName="articuloid">
            <mat-option *ngFor="let articulo of articulos" [value]="articulo.id">
              {{ articulo.nombrearticulo }}
            </mat-option>
          </mat-select>
        </mat-form-field-->
        <mat-form-field>
          <mat-label>Articulo</mat-label>
          <mat-select formControlName="articuloid" (selectionChange)="onArticuloChange($event.value)">
            <mat-option *ngFor="let articulo of articulos" [value]="articulo.id">
              {{ articulo.nombrearticulo }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="tipoid">
            <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">
              {{ tipo.nombretipo }}
            </mat-option>
          </mat-select>
        </mat-form-field>                
        <mat-form-field>
          <input matInput placeholder="Cod. Inventario" formControlName="codinventario" required (input)="convertirAMayusculas($event)">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Marca" formControlName="marca" required (input)="convertirAMayusculas($event)">
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha Compra" formControlName="fechaingreso" required (input)="convertirAMayusculas($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Proveedor</mat-label>
          <mat-select formControlName="proveedorid">
            <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
              {{ proveedor.razonsocial }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="column">
        <mat-form-field>
          <mat-label>Responsable</mat-label>
          <mat-select formControlName="responsableid">
            <mat-option *ngFor="let responsable of responsables" [value]="responsable.id">
              {{ responsable.arearesponsable }}
            </mat-option>
          </mat-select>
        </mat-form-field>        
        <mat-form-field>
          <mat-label>Grupo</mat-label>
          <mat-select formControlName="grupoid">
            <mat-option *ngFor="let grupo of grupos" [value]="grupo.id">
              {{ grupo.nombregrupo }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput placeholder="Modelo" formControlName="modelo" required (input)="convertirAMayusculas($event)">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Nro. Serie" formControlName="nroserie" required (input)="convertirAMayusculas($event)">
        </mat-form-field>
        <div class="importe-moneda-container">
          <mat-form-field class="moneda-select-field">
            <mat-label>Moneda</mat-label>
            <mat-select formControlName="moneda" class="moneda-select">
              <mat-option value="S/">S/</mat-option>
              <mat-option value="$">$</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="importe-input-field">
            <input matInput type="text" formControlName="importe" placeholder="Importe" required (input)="convertirAMayusculas($event)" appCurrencyFormat>
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-tab-group>
      <mat-tab label="Descripción General">
        <div class="tab-content">
          <h3 mat-dialog-title>{{ estadoFormulario }} descripción general</h3>
          <mat-dialog-content>          
            <mat-form-field>
              <textarea matInput formControlName="descripcion" placeholder="Descripción" required (input)="convertirAMayusculas($event)">
              </textarea>
            </mat-form-field>
          </mat-dialog-content>
        </div>
      </mat-tab>
      <mat-tab label="Especificaciones Técnicas">
        <h4>{{ estadoFormulario }} atributos específicos</h4>
        <!--mat-dialog-content>
          <div class="especifico-container">
            <div formArrayName="especificos">
              <div *ngFor="let especifico of especificosArray.controls; let i = index" [formGroupName]="i" class="especifico-item">
                <div class="especifico-item-content">

                  <mat-form-field class="especifico-select-field">
                    <mat-label>Atributo</mat-label>
                    <mat-select formControlName="atributo">
                      <mat-option *ngFor="let atributo of atributos" [value]="atributo.atributoid">
                        {{ atributo.nombreatributo }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="especifico-input" appearance="fill">
                    <input matInput id="nombreespecifico" formControlName="nombreespecifico" placeholder="Especifico {{ i + 1 }}" required (input)="convertirAMayusculas($event)">
                  </mat-form-field>
                  <button mat-raised-button color="warn" (click)="removeEspecifico(i)" class="especifico-button">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <button mat-raised-button color="primary" (click)="addEspecifico()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-dialog-content-->
        <mat-dialog-content>
          <div class="especifico-container">
            <form [formGroup]="especificoForm">
              <div formArrayName="especificos">
                <div *ngFor="let especifico of especificosArray.controls; let i = index" [formGroupName]="i" class="especifico-item">
                  <div class="especifico-item-content">
                    <mat-form-field class="especifico-input" appearance="fill">
                      <input matInput formControlName="atributo" placeholder="Atributo {{ i + 1 }}" required>
                    </mat-form-field>
                    <mat-form-field class="especifico-input" appearance="fill">
                      <input matInput id="nombreespecifico" formControlName="nombreespecifico" required (input)="convertirAMayusculas($event)">
                    </mat-form-field>
                    
                  </div>
                </div>
              </div>
            </form>
          </div>
        </mat-dialog-content>
        
      </mat-tab>      
    </mat-tab-group>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="onSave()" [disabled]="especificoForm.invalid || especificosArray.length === 0">
    <mat-icon>save</mat-icon> Guardar
  </button>
  <button mat-button color="primary" (click)="onCancel()">
    <mat-icon>cancel</mat-icon> Cancelar
  </button>
</mat-dialog-actions>