<h2 mat-dialog-title> {{ estadoFormulario }} Responsable </h2>
<mat-dialog-content>

    <form [formGroup]="responsableForm">
        <div class="responsable-container">
            <div *ngIf="idAlfanumerico" class="custom-label">
                <h2>{{ idAlfanumerico }}</h2>
            </div>
            <mat-form-field>
                <input matInput placeholder="Nombre" formControlName="arearesponsable" required/>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Descripción" formControlName="nombresyapellidos" required></textarea>
            </mat-form-field>

        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions>

    <button mat-button color="primary" (click)="onSave()" [disabled]="responsableForm.invalid">
        <mat-icon>save</mat-icon> Guardar
    </button>

    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>

</mat-dialog-actions>
