.tipobien-container{
    display: flex;
    flex-direction: column;
}

.tipobien-container > * {
    width: 100%;
}

/*.centered-title {
    text-align: center !important;
}*/
.centered-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: bold; /* Ajusta el peso de la fuente según sea necesario */
    margin-bottom: 16px; /* Ajusta el margen inferior según sea necesario */
    text-align: center; /* Asegura que el texto dentro del div esté centrado */  }
/*
.custom-label h2 {
color: #333;
font-weight: normal;
margin: 0;
}*/
