.parametro-container{
    display: flex;
    flex-direction: column;
}

.parametro-container > * {
    width: 100%;
}

.input-file{
    display: none;
}

.subir{
    padding: 5px 16px;
    background: #3f51b5;
    color: #fff;
    border: 0px solid #fff;
}