<h2 mat-dialog-title> {{ estadoFormulario }} Articulo </h2>
<mat-dialog-content>
    <form [formGroup]="articuloForm">
        <div class="articulo-container">
            <div *ngIf="idAlfanumerico" class="custom-label">
                <h2>{{ idAlfanumerico }}</h2>
            </div>            
            <mat-form-field>
                <input matInput placeholder="Nombre" formControlName="nombrearticulo" required/>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput placeholder="Descripción" formControlName="descriparticulo" required></textarea>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>

    <button mat-button color="primary" (click)="onSave()" [disabled]="articuloForm.invalid">
        <mat-icon>save</mat-icon> Guardar
    </button>

    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>

</mat-dialog-actions>
